.table {
    width: 100%;
    box-shadow: 15px 15px 30px rgb(0 0 0 / 15%);
    margin-bottom: 100px;
    &-row {
        height: 40px;
        &:nth-child(even) {
            background: #e1e1e1;
        }
        &:nth-child(odd) {
            background: #f3f3f3;
        }
        &__cell {
            text-align: center;
            &:first-child {
                padding-left: 10px;
                text-align: left;
            }
            &:last-child {
                padding-right: 10px;
                text-align: right;
            }
        }
    }
}

.btns {
    &-button {
        margin: 20px 0;
        width: 170px;
        border-radius: 5px;
        border: 1px solid black;
        background: none;
        cursor: pointer;
        padding: 5px;
        margin-right: 10px;
        &:last-child {
            margin-right: 0;
        }
    }
}